.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/c_cpp_properties (conflicted copy 2023-11-06 122842).json
.vscode/c_cpp_properties (conflicted copy 2023-11-06 172903).json
.vscode/c_cpp_properties (conflicted copy 2023-11-06 172909).json
.vscode/c_cpp_properties (conflicted copy 2023-11-06 172918).json
.vscode/c_cpp_properties (conflicted copy 2023-11-06 173437).json
.vscode/c_cpp_properties (conflicted copy 2023-11-06 173525).json
.vscode/c_cpp_properties (conflicted copy 2023-11-06 174101).json
.vscode/launch (conflicted copy 2023-11-06 122842).json
.vscode/launch (conflicted copy 2023-11-06 172903).json
.vscode/launch (conflicted copy 2023-11-06 172909).json
.vscode/launch (conflicted copy 2023-11-06 172918).json
.vscode/launch (conflicted copy 2023-11-06 173437).json
.vscode/launch (conflicted copy 2023-11-06 174101).json
src/tft_spi_meters.cpp.sav
.DS_Store
src/.DS_Store
CMakeLists.txt
dependencies.lock
sdkconfig.esp32dev
YD-10-67-24-11-39.txt
managed_components/chmorgan__esp-libhelix-mp3/.component_hash
managed_components/chmorgan__esp-libhelix-mp3/.gitmodules
managed_components/chmorgan__esp-libhelix-mp3/idf_component.yml
managed_components/chmorgan__esp-libhelix-mp3/LICENSE
managed_components/chmorgan__esp-libhelix-mp3/README.md
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/mp3dec.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/mp3tabs.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/readme.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/Umakefil
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/docs/cpuusage.xls
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/docs/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/docs/memory.xls
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/docs/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/docs/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/pub/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/pub/mp3common.h
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/pub/mp3dec.h
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/pub/mpadecobjfixpt.h
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/pub/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/pub/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/pub/statname.h
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/assembly.h
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/bitstream.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/buffers.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/coder.h
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/dct32.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/dequant.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/dqchan.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/huffman.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/hufftabs.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/imdct.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/polyphase.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/scalfact.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/stproc.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/subband.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/trigtabs.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/arm/asmmisc.s
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/arm/asmpoly_gcc.S
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/arm/asmpoly.s
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/arm/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/arm/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/arm/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armads/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armads/mp3dec.mcp
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armads/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armads/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armads/testwrap.mcp
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armwince/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armwince/mp3dec.vcp
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armwince/mp3dec.vcw
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armwince/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armwince/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/armwince/testwrap.vcp
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/visualc/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/visualc/mp3dec.dsp
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/visualc/mp3dec.dsw
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/visualc/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/visualc/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/real/projects/visualc/testwrap.dsp
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/debug.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/debug.h
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/LICENSE.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/main.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/RCSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/RPSL.txt
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/timing.c
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/timing.h
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/Umakefil
managed_components/chmorgan__esp-libhelix-mp3/libhelix-mp3/testwrap/winmain.cpp
managed_components/espressif__mdns/.component_hash
managed_components/espressif__mdns/.cz.yaml
managed_components/espressif__mdns/CHANGELOG.md
managed_components/espressif__mdns/idf_component.yml
managed_components/espressif__mdns/Kconfig
managed_components/espressif__mdns/LICENSE
managed_components/espressif__mdns/mdns_console.c
managed_components/espressif__mdns/mdns_networking_lwip.c
managed_components/espressif__mdns/mdns_networking_socket.c
managed_components/espressif__mdns/mdns.c
managed_components/espressif__mdns/README.md
managed_components/espressif__mdns/examples/query_advertise/pytest_mdns.py
managed_components/espressif__mdns/examples/query_advertise/README.md
managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_custom_netif
managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_def
managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_no_ipv4
managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_no_ipv6
managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_socket
managed_components/espressif__mdns/examples/query_advertise/main/idf_component.yml
managed_components/espressif__mdns/examples/query_advertise/main/Kconfig.projbuild
managed_components/espressif__mdns/examples/query_advertise/main/mdns_example_main.c
managed_components/espressif__mdns/include/mdns_console.h
managed_components/espressif__mdns/include/mdns.h
managed_components/espressif__mdns/private_include/mdns_networking.h
managed_components/espressif__mdns/private_include/mdns_private.h
managed_components/espressif__mdns/tests/host_test/README.md
managed_components/espressif__mdns/tests/host_test/sdkconfig.defaults
managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/esp_netif_linux.c
managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/Kconfig
managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/include/esp_wifi_types.h
managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/include/machine/endian.h
managed_components/espressif__mdns/tests/host_test/main/Kconfig.projbuild
managed_components/espressif__mdns/tests/host_test/main/main.c
managed_components/espressif__mdns/tests/test_afl_fuzz_host/esp_attr.h
managed_components/espressif__mdns/tests/test_afl_fuzz_host/esp_netif_mock.c
managed_components/espressif__mdns/tests/test_afl_fuzz_host/esp32_mock.c
managed_components/espressif__mdns/tests/test_afl_fuzz_host/esp32_mock.h
managed_components/espressif__mdns/tests/test_afl_fuzz_host/input_packets.txt
managed_components/espressif__mdns/tests/test_afl_fuzz_host/Makefile
managed_components/espressif__mdns/tests/test_afl_fuzz_host/mdns_di.h
managed_components/espressif__mdns/tests/test_afl_fuzz_host/mdns_mock.h
managed_components/espressif__mdns/tests/test_afl_fuzz_host/README.md
managed_components/espressif__mdns/tests/test_afl_fuzz_host/sdkconfig.h
managed_components/espressif__mdns/tests/test_afl_fuzz_host/test.c
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/file2.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_4a_txt.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_aaaa.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_any.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_disc.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_ptr.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_query.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_query2.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/sub_fritz_m.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/telnet_ptr.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-14.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-15.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-16.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-28.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-29.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-31.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-53.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-56.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-63.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-83.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-88.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-89.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-95.bin
managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-96.bin
managed_components/espressif__mdns/tests/test_apps/pytest_mdns_app.py
managed_components/espressif__mdns/tests/test_apps/README.md
managed_components/espressif__mdns/tests/test_apps/sdkconfig.ci
managed_components/espressif__mdns/tests/test_apps/sdkconfig.defaults
managed_components/espressif__mdns/tests/test_apps/main/idf_component.yml
managed_components/espressif__mdns/tests/test_apps/main/Kconfig.projbuild
managed_components/espressif__mdns/tests/test_apps/main/main.c
managed_components/espressif__mdns/tests/test_apps/main/mdns_test.c
managed_components/espressif__mdns/tests/unit_test/pytest_app_mdns.py
managed_components/espressif__mdns/tests/unit_test/sdkconfig.ci
managed_components/espressif__mdns/tests/unit_test/sdkconfig.defaults
managed_components/espressif__mdns/tests/unit_test/main/test_mdns.c
src/.DS_Store
